.announcement{
  width: 400px;
  min-height: 200px;
  background-color: #fff;
  h1{
    text-align: center;
    margin: 0.5em 0;
  }
}

.tweet{
  .profile-image{
    float: left;
    width: 11%;
    img{
      box-shadow: 0 0 5px #999;
    }
  }
  .content{
    float: left;
    width: 89%;
  }
  .author{
    font-size: 20px;
  }
  .timestamp{
    color: #999;
    font-size: 14px;
  }
  &:before{
    content: " ";
    display: table;
  }
  &:after{
    content: " ";
    display: table;
    clear: both;
  }
}
